/ <div id="leisu-free"></div><script language="javascript">document.getElementById("leisu-free").innerHTML="<iframe src='http://amf.7m.cn/free_big.aspx?tz=+0800'; width='100%' height='1000' frameborder='0'></iframe>";</script>